<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ServletCRUD</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.java.bridgelabz.servletcrud.controller.Authenticate</servlet-class>
	</servlet>
	<servlet-mapping>

		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>adduser</servlet-name>
		<servlet-class>com.java.bridgelabz.servletcrud.controller.AddEmployeeServlet</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.java.bridgelabz.servletcrud.controller.DeleteServlet</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>EditServlet2</servlet-name>
		<servlet-class>com.java.bridgelabz.servletcrud.controller.EditServlet2</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>EditServlet2</servlet-name>
		<url-pattern>/EditServlet2</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>com.java.bridgelabz.servletcrud.controller.Editservlet</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/EditServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>adduser</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>show</servlet-name>
		<servlet-class>com.java.bridgelabz.servletcrud.controller.ViewServlet</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>show</servlet-name>
		<url-pattern>/show</url-pattern>

	</servlet-mapping>


<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.java.bridgelabz.servletcrud.controller.LogoutServlet</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>

	</servlet-mapping>
</web-app>