<?xml version="1.0" encoding="UTF-8"?>

<web-app>

  <servlet>
  <servlet-name>addition</servlet-name>
  <servlet-class>com.java.sevlet.learn.AddNumber</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  <servlet-name>addition</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping> 
  
</web-app>

